.header-container {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-button {
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
    font-size: 2rem;
    color: yellow;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    -webkit-text-stroke: 1px black;
}

.e {
    text-transform: none;
}

.header-button a {
    text-decoration: none;
    color: inherit;
}

.header-button:hover {
    background-color: #2980b9;
}
