.pokemon-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    width: 150px;
    margin: 0 auto;
}

.pokemon-image {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 8px;
    object-fit: contain;
}
