.search-container {
    max-width: 600px;
    margin: auto;
    position: relative;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
}

.search-results-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: lightgrey;
    color: black;
    border: none;
    border-radius: 4px;
    transition: max-height 0.3s ease-in, opacity 0.3s;
    opacity: 0;
    z-index: 1000;
}

.search-results-container.open {
    max-height: 233px;
    opacity: 1;
    overflow-y: auto;
}

.search-results-container::-webkit-scrollbar {
    width: 8px;
}

.search-results-container::-webkit-scrollbar-track {
    background: #333;
    border-radius: 4px;
}

.search-results-container::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 4px;
}

.search-results-container::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.search-result-item {
    padding: 10px 14px;
    border-bottom: 1px solid #555;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.search-result-item-link {
    text-decoration: none;
}

.search-result-item:hover {
    background-color: grey;
}

.no-results {
    margin-top: 10px;
    color: red;
    font-size: 14px;
    text-align: center;
}

